.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* nav styles */
.navbar{
  display: flex;
  max-width: 1400px;
  justify-content:space-between;
  margin: 0 auto;
}
.nav-title{
  font-size: 34px;
  color:rgba(78, 71, 255, 1) 
}
.nav-btn-primary{
  font-weight: bold;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  background-color:rgba(78, 71, 255, 1) ;
  width: 132px;
  height: 38px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 100px;
  border: none;
  cursor: pointer;
}
/* banner styles */
.banner-content{
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: rgba(37, 36, 50, 1);
}
.secondary-bg{
  background-image:url(../images/Hero-bg.png);
}
.banner-container{
  display: flex;
  margin: 100px 100px 100px 100px;
  justify-content: space-between;
}
.action-title{
  font-weight: bold;
  font-size: 42px;
  color: rgba(37, 36, 50, 1);
}
.banner-sub-title{
  font-weight: normal;
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
}
.action-btn{
  font-weight: bold;
  font-size: 16px;
  color:rgba(255, 255, 255, 1) ;
  background-color:rgba(78, 71, 255, 1) ;
  width: 229px ;
  height: 48px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  }
.banner-image{
  border-radius: 50px;
}
.bnr-title{
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  color: rgba(37, 36, 50, 1);
}
.user-items{
  display: flex;
  justify-content: center;
  gap: 158px;
 }
 .productive-users{
    background-color:rgb(197, 195, 231);
    border-radius: 20px;
    padding: 30px 20px ;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
.user-title{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 80px;
  margin: 0;
  padding: 0;
  color: rgba(78, 71, 255, 1) ;
}
.user-description{
  font-weight: 400;
  font-size: 20px;
}
/* card styles */
.designer-title{
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  color: rgba(37, 36, 50, 1);
}
.card-containers{
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  background-color: whitesmoke ;
  padding: 20px;
  width: 366px;
  height: 243px;
  text-align: left;
  border-radius: 15px;
  margin-bottom: 50px;
}
/* ready focus banner */
.ready-focus{
   justify-content: center;
}
.heading{
  font-weight: bold;
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
}
.heading-title{
  text-align: center;
}
.wc-banner-img{
  width:840px ;
  height: 365px;
  border-radius: 30px;
  margin-top: 40px;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 100px;
  }
  